patches/*
results/*
extras/*
tmp/*
templates/*
data/atlas/*
data/annotation_data/*
data/tmp/*
src/legacy/*
src/external/*
src/analysis/3dunet/nuclei/data/*
src/analysis/3dunet/nuclei/NM_config.mat
.DS_Store
*.DS_Store
*.tif
*.tiff
*.nii
*.nrrd
*.mhd
*.raw
*.h5
*.asv
